<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ "/" | relative_url }}" class="site-title"><span class="s1">S</span><span class="t1">t</span><span class="e1">e</span><span class="p">p</span><span class="h">h</span><span class="e2">e</span><span class="n1">n</span>
  <span class="hh">H</span><span class="a1">a</span><span class="w1">w</span><span class="k1">k</span><span class="e3">e</span><span class="s2">s</span></a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
