@media screen and (min-width: $viewport-small) {
  html {
    font-size: 16px;
  }

  h1,
  .h1 {
    font-size: $h1;
  }

  .site-header {
    text-align: left;
  }

  .site-nav {
    margin-top: 0;
  }

  .site-header a {
    font-size: $h4;
  }

  .site-header .site-title {
    font-size: $h3;
    float: left;
  }

  .site-header .site-nav {
    float: right;
  }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    text-align: right;
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 18px;
  }
  .site-header .site-nav {
    margin: 0;
    padding: 0;
  }
  .site-title {
    display: flex;
    justify-content: flex-start;

    span {
      transition: all 1s ease;
      text-align: center;

      &.s1 {
        order: 15;
        text-transform: lowercase;
      }

      &.t1 {
        order: 10;
        margin-right: 0.5em;
      }

      &.e1 {
        order: 14;
      }

      &.p {
        order: 9;
      }

      &.h {
        order: 3;
      }

      &.e2 {
        order: 8;
      }

      &.n1 {
        order: 12;
      }

      &.hh {
        order: 0;
      }

      &.a1 {
        order: 4;
      }

      &.w1 {
        order: 14;
      }

      &.k1 {
        order: 7;
      }

      &.e3 {
        order: 1;
        margin-right: 0.5em;
      }

      &.s2 {
        order: 5;
        margin-right: 0.5em;
      }
    }
  }

  .site-title:hover {
    span {
      transition: all 0.3s ease;
      margin: 0;

      &.s1 {
        order: 0;
        text-transform: uppercase;
      }

      &.t1 {
        order: 1;
      }

      &.e1 {
        order: 2;
      }

      &.p {
        order: 3;
      }

      &.h {
        order: 4;
      }

      &.e2 {
        order: 5;
      }

      &.n1 {
        order: 6;
        margin-right: 0.5em;
      }

      &.hh {
        order: 8;
      }

      &.a1 {
        order: 9;
      }

      &.w1 {
        order: 10;
      }

      &.k1 {
        order: 11;
      }

      &.e3 {
        order: 12;
      }

      &.s2 {
        order: 13;
      }
    }
  }

}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: 20px;
  }
  .site-header .site-nav {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: $viewport-large + 14) {
  em img {
    max-width: $measure-width + 14;
    margin-left: -7em;
  }
  .site-header .site-nav {
    margin: 0;
    padding: 0;
  }
}
